/* 가상 클래스 선택자 root의 색상들은 필수 사용요소가 아닙니다.
색상은 자유롭게 구성해주세요. */
:root {
  --main-color: #04c82f;
  --main-bg-color: #e5ffeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

header {
  height: 100px;
  width: 100%;
  background: greenyellow;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}

header > img {
  width: 50%;
  height: 100%;
  text-decoration: line-through;
}

.submit {
  max-width: 800px;
  display: flex;
  justify-self: center;
}
.todo {
  display: flex;
  justify-content: center;
}
.todo > ul {
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.todo > ul > li {
  width: 25%;
}

.check {
  color: gray;
  text-decoration: line-through;
}
@media (max-width: 540px) {
  .todo > ul {
    height: 100%;
    display: grid !important;
    grid-template-rows: repeat(1fr, 10);
  }

  .todo > ul > li {
    align-self: center;
  }
}

@media (max-width: 960px) {
  .submit {
    width: 100%;
    justify-self: center;
  }
  .todo {
    display: flex;
    justify-content: center;
  }
  .todo > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .todo > ul > li {
    width: 50%;
  }
}
